allure-behave==2.8.6
allure-python-commons==2.8.6
allure-robotframework==2.8.15
apipkg==1.5
astroid==2.5
atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.1.7
behave==1.2.6
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
enum34==1.1.10
et-xmlfile==1.0.1
execnet==1.8.0
idna==2.8
importlib-metadata==3.7.0
iniconfig==1.1.1
isort==5.7.0
jdcal==1.4.1
lazy-object-proxy==1.5.2
lxml==4.6.2
mccabe==0.6.1
more-itertools==8.7.0
namedlist==1.8
openpyxl==3.0.6
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pylint==2.7.1
pyparsing==2.4.2
pytest==5.3.5
pytest-forked==0.2
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-xdist==1.20.1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.3.1
requests==2.22.0
selenium==2.53.1
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.4.0
